*, *:before, *:after{
    margin: 0;
    padding: 0;
    font-family: 'rajdhaniregular', Arial, Helvetica, sans-serif;
    -webkit-box-sizing: border-box !important;
    -moz-box-sizing: border-box !important;
    -ms-box-sizing: border-box !important;
    box-sizing: border-box !important;
}

li > *{
    display: inline-block;
}

#utility-links{
    letter-spacing: .5px;
    padding: 0px 10px 0px 10px;
    color: white;
    background-color: #131313;
    width: 100%;
    max-height: 32px;
    line-height: 32px;
    font-size: 14px;
}

.semi-bold{
    font-family: 'rajdhanisemibold', Arial, Helvetica, sans-serif;
}

.semi-bold li a{
    font-family: 'rajdhanisemibold', Arial, Helvetica, sans-serif;
}

nav{
    padding: 0 15px 0 15px;
    width: 100%;
    height: 48px;
    background-color: rgb(255, 249, 249);
}

ul{
    list-style: none;
}

ul li{
    display: inline;
}

.nav-links{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
}

.nav-links > *{
    margin: 0px 8px 0px 8px;
}

.nav-links li{
    font-size: 18px;

}

.nav-links li a{
    color: rgb(155, 155, 155);
    text-decoration: none;
}

.nav-links li a:hover{
    color: black;
}

.items-left li a:hover{
    color: white;
}

.items-left{
    display: inline-flex;
    width: 100%;
}
.items-left > *{
    margin: 0px 5px 0px 12px;
}

.items-left li a{
    text-decoration: none;
    color: rgb(170, 170, 170);
}

.end{
    margin-left: auto;
}

.connect{
    letter-spacing: .7px;
    text-decoration: none;
    color: black;
    padding: 0px 0px 0px 10px;
    font-size: 13px;
    line-height: 30px;
    display: block;
    width: 100%;
    background-color: #fd3;
}

.cover-image{
    background-position: 50%;
    background-size: cover;
}

.cover-trigger{
    cursor: pointer;
    position: absolute;
    bottom: 0px;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 5;
    transition: background-color .4s ease;
    background: rgba(0,0,0,.25) url(./img/cover-trigger.webp) no-repeat;
    background-size: 100% 100%;
    display: block;
    will-change: background-color;

}

.cover-trigger:hover{
    background-color: rgba(0,0,0,.1);
}

.cover-gradient{
    background: transparent url(img/gradient.webp) no-repeat;
    background-position: 0 0;
    background-size: cover;
    position: absolute;
    mix-blend-mode: lighten;
    bottom: 0px;
    top: 0px;
    right: 0px;
    left: 0px;
    z-index: 4;
}

.main{
    position: relative;
    background-color: grey;
    background-image: url(img/cover1.jpg);
    grid-area: main;  
}

.secondary{
    position: relative;
    background: grey;
    background-image: url(img/cover2.webp);
    grid-area: secondary;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.third{
    position: relative;
    background-color: grey;
    background-image: url(img/cover3.webp);
    grid-area: third;
}

.cover{
    margin: 2px 5px 0px 5px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: 75vh;
    max-height: 560px;
    column-gap: 5px;
    row-gap: 5px;
    grid-template-areas: 
    "main main secondary"
    "main main third";
}

.bold{
    font-weight: 700;
    font-family:'rajdhanibold', Arial, Helvetica, sans-serif;;
}

.cover-title .link{
    cursor: pointer;
    z-index: 6;
    text-decoration: none;
    color: #fff;
}

.main h2{
    font-family: 'rajdhanibold'; 
    font-size: 56px;
    line-height: 1;
}

.cover-header{
    position: absolute;
    bottom: 4px;
    left: 4px;
    right: 4px;
    padding: 20px;
    z-index: 5;
}

.cover-logo{
    position: absolute;
    left: 24px;
    top: 24px;
    width: 60%;
    height: auto;
    z-index: 5;
}

.cover-date{
    position: absolute;
    color: #fff;
    right: 24px;
    font-size: 16px;
    top: 16px;
    z-index: 6;
}

.cover-byline{
    font-size: 16px;
    color: hsla(0,0%,100%,.6);
}

.cover-byline a{
    color: hsla(0,0%,100%,.6);
    text-decoration: none;
}
.cover-byline a:hover{
    color: #fff;
}

.icon{
    display: inline-block;
    background: transparent url(img/icons.svg) no-repeat;
    background-size: 1296px 1296px;
    width: 16px;
    height: 16px;
}

.icon-clock{
    background-position: -160px -160px;
}

.icon-share{
    background-position: -912px -912px;
}
.icon-tag{
    background-position: -976px -976px;
}
.icon-briefcase{
    background-position: -48px -48px;
}

.search{
    margin-left: auto;
    padding:13px 0px 13px 16px;
    border-left: rgba(201, 201, 201, 0.842) solid 1px;
    
    margin-top: auto;
    margin-bottom: auto;
}

#search-link{
    opacity: .25;
}

#search-link:hover{
    opacity: .5;
}

.icon-search{
    background-position: -848px -848px;
    vertical-align: middle;
   
}


.cover-byline li .icon{
    scale: .875;
    margin-right: 2px;
    opacity: .6;
    vertical-align: middle;
}




h3 a{
    color: #f42;
    font-family: rajdhanibold;
    text-decoration: none;
    font-size: 30px;

}
h3 a:hover{
    color: black;
}

.latest-news{
    max-width: 1192px;
    margin: 20px auto;
    padding: 20px 20px;
}

.latest-news h3{
    padding-left: 10px;
    padding-bottom: 20px;
}

.news-flex{
    display: flex;
    flex-flow: row wrap;
    width: 100%;
}

.news-flex > *{
    padding: 10px;
    flex: 0 1 25%;
}

.news-flex div > a{
    width: 100%;
    display: inline-block;
    padding-top: 50%;
    background-position: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 8px;
    position: relative;
}
.first{
    background-image: url(img/article-small-1.jpg);
}
.second{
    background-image: url(img/article-small-2.jpg);
}
.third-news{
    background-image: url(img/article-small-3.webp);
}
.fourth{
    background-image: url(img/article-small-4.webp);
}
.fifth{
    background-image: url(img/article-small-5.jpg);
}
.sixth{
    background-image: url(img/article-small-6.jpg);
}
.seventh{
    background-image: url(img/article-small-7.webp);
}
.eigth{
    background-image: url(img/article-small-8.jpg);
}


.news-flex h4 a{
    line-height: 20px;
    font-size: 16px;
    text-decoration: none;
    font-family: rajdhanibold;
    color: black;
}

.news-flex h4 a:hover{
    color: #f42;
    text-decoration: underline;
    text-decoration-color: rgba(255, 149, 131, 0.699);
}

.story-byline{
    color: rgb(139, 139, 139);
}

.story-byline li a{
    text-decoration: none;
    color: inherit;
}

.story-byline > *:first-child::after{
    content: "·";
    display: inline-block;
    margin: 0 4px;
}

.story-byline li a:hover{
    color: rgb(31, 31, 31);
}

.funding-rounds{
    max-width: 1192px;
    margin: 0 auto;
    padding: 20px;
}
.funding-flex{
    display: flex;
}
.funding-item{
    position: relative;
    width: 25%;
    min-height: 60px;
    padding: 0px 15px;
}
.funding-item img{
    width: 60px;
    height: 60px;
    top: 0;
    left: 0;
    margin: 10px 25px 10px 25px;
    position: absolute;
}


.funding-item a{
    text-decoration: none;
    color: white;
}
.company{
    width: 100%;
    background-color: #f42;
    font-size: 20px;
}
.funding-sub{
    color: black;
    width: 100%;
    background: rgba(255,68,34,.08);
}

.funding-sub > *{
    padding: 0px 0px 0px 84px;
}

.funding-item h4{
    display: inline-block;
    padding:10px 16px 10px 84px;
    vertical-align: middle;
    font-size: 18px;
}

.funding-rounds h3{
    padding-bottom: 20px;
    padding-left: 15px;
}

.funding-item h5{
    opacity: .5;
    padding-bottom: 15px;
}

.funding-sub h4{
    padding: 10px 16px 0 84px;
}
.funding-card{
    width: 100%;
    background: rgba(255,68,34,.03);
}
.funding-card a{
    color: #555;
}
.funding-card a:hover{
    color: black;
}
.funding-card-bit{
    display: inline-block;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
}
.funding-card-bit i{
    margin-right: 8px;
}
.funding-byline{
    border-top: 1px solid rgba(255,68,34,.25);
    background: rgba(255,68,34,.03);
    padding: 10px 16px 16px 16px;
}

.funding-byline a{
    padding: 5px;
    font-size: 12px;
    width: 100%;
    color: rgb(43, 43, 43);
}

.funding-byline a span{
    color: rgb(141, 141, 141);
}
.sticky-container{
    position: sticky;
    top: 0;
    z-index: 999;
}

.category-news{
    max-width: 1192px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}

.category-news > *{
    flex-basis: 33.333%;
    max-width: 33.333%;
    padding: 25px;
}

.category-news h2 a{
    text-decoration: none;
    color: #f42;
}
.category-news h2 a:hover{
    color: black;
}

.category-news li ul{
    width: 100%;
}
.category-opacity{
    background: transparent url(./img/cover-trigger.webp) no-repeat;
    background-size: auto;
    background-size: 100% 100%;
    bottom: 0;
    left: 0;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
}
.category-img{
    background-color: #000;
    background-size: cover;
    background-position: 50%;
    bottom: 0;
    left: 0;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
}

.category-item .popular{
    height: 0;
    padding-top: 75%;
    position: relative;
    width: 100%;
}
.section-popular-header{
    color: white;
    bottom: 0;
    left: 0;
    padding: 14px;
    position: absolute;
    right: 0;
    z-index: 3;
}
.section-popular-header h3 a{
    color: white;
    line-height: 22px;
    font-size: 22px;
}
.section-popular-header ul li a{
    color: hsla(0,0%,100%,.6);
    text-decoration: none;
}
.section-popular-header ul li a::after{
    content: "·";
    display: inline-block;
    margin: 0 4px;
}
.section-popular-header ul li{
    color: hsla(0,0%,100%,.6);
}
.category-latest{
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: rgba(255,68,34,.06);
    margin: 2px 0;
}
.category-latest header{
    padding: 10px 14px 0;
}
.latest-img{
    height: 96px;
    width: 96px;
    background-position: 50%;
    background-size: cover;
    flex: 0 0 96px
}

.category-latest h5{
    letter-spacing: .5px;
    color: #f42;
}
.category-latest h4 a{
    color: #f42;
    text-decoration: none;
}
.category-latest h4 a:hover{
    text-decoration: underline;
}
.category-headline{
    padding: 5px;
    border-bottom: 1px solid #eee;
}

.category-headline h4 a{
    line-height: 14px;
    font-size: 14px;
    color: rgb(121, 121, 121);
    text-decoration: none;
}
.category-headline h4 a:hover{
    color: black;
}
.category-headline h4 a::before{
    content:  "\2022";
    color: #f42;
    display: inline-block;
    font-size: 36px;
    width: 12px;
    vertical-align: middle;
}

@media (max-width: 1024px){
    .news-flex > *{
        flex:0 1 31%;
    }
    .cover-gradient{
        background-image: none;
    }
    .cover-logo{
        display: none;
    }
    .cover-date{
        display: none;
    }

    .funding-flex{
        flex-wrap: wrap;
    }
    .funding-item{
        width: 50%;
        padding-bottom: 20px;
    }
}


@media (max-width: 700px){
    .news-flex > *{
        width: 100%;
        flex:1 1 100%;
        padding: 5px 2px 5px 2px;
    }

    .news-flex .news-item > a{
        padding-top: 75px;
        width: 75px;
    }

    .news-item{
        display: grid;
        grid-template-columns: 75px 1fr;
        grid-row: 75px;
        grid-template-areas: "recent-img recent-title";
        grid-column-gap: 10px;
    }
    .news-items .recent-img{
        grid-area: recent-img;
    }
    .news-item h4{
        grid-area: recent-title;
    }

    .news-item .story-byline{
        grid-area: recent-byline;
    }
    .news-item-text h4{
        padding-bottom: 5px;
    }

    .cover{
        height: 100vh;
        max-height: 100vh;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 33vh);
        grid-template-areas: 
        "main"
        "secondary"
        "third";
    }

    #utility-links{
        display: none;
    }

    .connect{
        text-align: center;
        line-height: 60px;
        font-size: 15px;
    }
    .funding-item{
        width: 100%;
        padding-bottom: 20px;
    }
}

