*, *:before, *:after{
    margin: 0;
    padding: 0;
    font-family: 'rajdhaniregular', Arial, Helvetica, sans-serif;
    -webkit-box-sizing: border-box !important;
    -moz-box-sizing: border-box !important;
    -ms-box-sizing: border-box !important;
    box-sizing: border-box !important;
}
#utility-links{
    color: white;
    background-color: #131313;
    width: 100%;
    max-height: 32px;
    line-height: 32px;
}

nav{
    width: 100%;
    height: 48px;
    background-color: rgb(255, 249, 249);
}

ul{
    list-style: none;
}

ul li{
    display: inline;
}

.nav-links{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
}

.nav-links > *{
    margin: 0px 8px 0px 8px;
}

.nav-links li{
    font-size: 18px;

}

.nav-links li a{
    color: rgb(155, 155, 155);
    text-decoration: none;
}

.nav-links li a:hover{
    color: black;
}

.items-left li a:hover{
    color: white;
}

.items-left{
    display: inline-flex;
    width: 100%;
}
.items-left > *{
    margin: 0px 5px 0px 12px;
}

.items-left li a{
    text-decoration: none;
    color: rgb(170, 170, 170);
}

.end{
    margin-left: auto;
}

.connect{
    text-decoration: none;
    color: black;
    padding: 0px 0px 0px 10px;
    font-size: 13px;
    line-height: 30px;
    display: block;
    width: 100%;
    background-color: #fd3;
}

.cover-image{
    background-position: 50%;
    background-size: cover;
}

.cover-trigger{
    position: absolute;
    bottom: 0px;
    top: 0px;
    left: 0px;
    right: 0px;
    transition: background-color .4s ease;
    background: rgba(0,0,0,.25) url(./img/cover-trigger.webp) no-repeat;
    background-size: 100% 100%;
    display: block;
    will-change: background-color;

}

.cover-gradient{
    background: transparent url(img/gradient.webp) no-repeat;
    background-position: 0 0;
    background-size: cover;
    position: absolute;
    mix-blend-mode: lighten;
    bottom: 0px;
    top: 0px;
    right: 0px;
    left: 0px;
    z-index: 4;
}

.main{
    position: relative;
    background-color: grey;
    background-image: url(img/cover1.jpg);
    grid-area: main;  
}

.secondary{
    position: relative;
    background: grey;
    background-image: url(img/cover2.webp);
    grid-area: secondary;
}

.third{
    position: relative;
    background-color: grey;
    background-image: url(img/cover3.webp);
    grid-area: third;
}

.cover{
    margin: 2px 5px 0px 5px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: 75vh;
    max-height: 560px;
    column-gap: 5px;
    row-gap: 5px;
    grid-template-areas: 
    "main main secondary"
    "main main third";
}

.bold{
    font-weight: 700;
    font-family:'rajdhanibold', Arial, Helvetica, sans-serif;;
}

.cover a{
    cursor: pointer;
    z-index: 6;
    text-decoration: none;
    color: #fff;
}

.main h2{
    font-family: 'rajdhanibold'; 
    font-size: 56px;
    line-height: 1;
}

.cover-header{
    position: absolute;
    bottom: 4px;
    left: 4px;
    right: 4px;
    padding: 20px;
}

h3 a{
    color: #f42;
    font-family: rajdhanibold;
    text-decoration: none;
    font-size: 30px;
}

.latest-news{
    max-width: 1192px;
    margin: 20px auto;
    padding: 20px 20px;
}

.news-flex{
    display: flex;
    flex-flow: row wrap;
    width: 100%;
}

.news-flex > *{
    padding: 10px;
    flex: 0 1 23%;
}

.news-flex div > a{
    background-image: url(img/article-small-1.jpg);
    width: 100%;
    display: inline-block;
    padding-top: 50%;
    background-position: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 8px;
    position: relative;

}

.news-flex h4 a{
    line-height: 20px;
    font-size: 16px;
    text-decoration: none;
    font-family: rajdhanibold;
    color: black;
}

.news-flex h4 a:hover{
    color: #f42;
    text-decoration: underline;
    text-decoration-color: rgba(255, 149, 131, 0.699);
}

.story-byline{
    color: #aaa;
}

.story-byline li a{
    text-decoration: none;
    color: inherit;
}

.story-byline > *:first-child::after{
    content: "·";
    display: inline-block;
    margin: 0 4px;
}

.story-byline li a:hover{
    color: rgb(31, 31, 31);
}

@media (max-width: 1024px){
    .news-flex > *{
        flex:0 1 31%;
    }
    .cover-gradient{
        background-image: none;
    }
}


@media (max-width: 700px){
    .news-flex > *{
        flex:1 1 98%;
        margin: 5px 2px 5px 2px;
    }

    .cover{
        height: 100vh;
        max-height: 100vh;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 33vh);
        grid-template-areas: 
        "main"
        "secondary"
        "third";
    }

    #utility-links{
        display: none;
    }

    .connect{
        text-align: center;
        line-height: 60px;
        font-size: 15px;
    }

}

